@import 'tailwindcss';
@import "@fontsource-variable/hanken-grotesk";
@import '@fontsource-variable/source-sans-3';

@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: "Hanken Grotesk Variable", ui-sans-serif, system-ui, sans-serif;
    --font-data: 'Source Sans 3 Variable', ui-sans-serif, system-ui, sans-serif;
}

html {
    scroll-behavior: smooth;
}
